//remove old validation messages
//$(".notice").remove();
//remove old instances of the .has-error class
//$(".form-group").removeClass("has-error");

//display new validation messages and add the Bootstrap .has-error class
//$(“#nameBlock”).append(‘<div class=”notice”><%#= escape_javascript(@errorName[0])%></div>’);
//$("#nameBlock:contains(.)").closest(".form-group").addClass("has-error");
//$(“#emailBlock”).append(‘<div class=”notice”><%#= escape_javascript(@errorEmail[0])%></div>’);
//$("#emailBlock:contains(.)").closest(".form-group").addClass("has-error");
//$(“#descriptionBlock”).append(‘<div class=”notice”><%#= escape_javascript(@errorDescription[0])%></div>’);
//$("#descriptionBlock:contains(.)").closest(".form-group").addClass("has-error");


//$("#error").html("replaced with dummy text");
//$("#exampleModal").html("<%= escape_javascript(render partial: 'layouts/messages') %>");
